/* 滚动条样式样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #ffff;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 100%,transparent 100%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
  border-radius: 2em;
}

body {
  background-color: rgb(225 225 225);
  color: rgb(0 0 0);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}